@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

head {
    background-color: white;
}

nav {
    position: fixed; 
    top: 0;
    height: 50px;
    width: 100%;
    background-color: white;
    
}

nav li {
    list-style: none;
    float: left;
    padding: 0 10px;
}

nav li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    padding: 3px 5px;
}

nav li a:hover {
    background-color: #000;
    color: white;
}

.clear {
    clear: both;
}

.main-head h1 {
    margin-top: 80px; 
    text-align: center;
    font-size: 45px;
    color: #000;
}


.main-head img {
    display: block;
    margin: 0 auto;
    height: 480px;
    width: 960px;
    margin: 80px auto 0;
}

.section-title {
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 30px;
}

.section-title span {
    border-bottom: 3px solid #000;
    padding-bottom: 10px;
}

#about img {
    display: block;
    margin: 0 auto;
}

#about p {
    text-align: left;
    line-height: 30px;
    font-size: 18px;
    position: relative;
    left: 17%;
}

#about img {
    width: 960px;
    height: 480px;
}

.container {
    float: left;
    width: 33%;
}

.container img {
    display: block;
    margin: 0 auto;
}

.container p {
    text-align: center;
}

dt {
    font-size: 18px;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
}

dd input {
    width: 300px;
    height: 30px;
    display: block;
    margin: 0 auto;
}

textarea {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 100px;
}

button {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    background-color: #a9a9a9;
    color: #fff;
    margin-top : 20px;
    font-size: 18px;
}

form {
    margin-bottom: 80px;
}

footer {
    height: 80px;
    background-color: #808080;
    color: white;
    text-align: center;
    padding-top: 40px;
}


